// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _misc.scss */

.clearfix {
    @include clearfix;
}
.upgradeframe {
    background-color: #ccc;
    font-family: 'arial black';
    height: 100%;
    padding: 9em;
    position: fixed;
    width: 100%;
}

.ada {
    display: initial !important;
    height: 1px;
    left: -5000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: visible !important;
    width: 1px;
}

::selection, .selection {
    text-shadow: 1px 3px 3px gray;
}
.keyboard {
    :focus, .focus {
        outline-color: yellow;
    }
}
.mouse {
    :focus, .focus {
        outline: none;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
