// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'compass/css3';
@import 'compass/reset';
@import 'core/all';
@import 'default/_all';

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
// DEFS
$stroke: 0.1em;

// Color
$gray: $wf_gray;
$grey: lighten($gray, 20%);
$gray5: #555;
$grayC: #ccc;

$blueB: #5298ad;
$blueD: #165267;
$blueM: #2394a0;
$blueL: #9dc1cc;
$blueX: #1b9fc0;

$wystar: #1482c3;

$link: #3366cc;
$bkgr: #1c6c84;

$shadF: 1px 2px 3px black;
$shadD: 0 0px 1px $gray5;
$shadL: 0 1px 1px $grayC;
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'irt/_ani';
@import 'irt/_game';
@import 'irt/_jumble';
@import 'irt/_message';
@import 'irt/_misc';
@import 'irt/_status';

header {
    background: none;
}
.navbar button {
    display: none;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* >^!^< */
