// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'compass/css3';
@import 'core/all';

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
// DEFS

$sans: 'myriad-pro', sans-serif;
$serif: 'Archer SSm A', 'Archer SSm B', serif;

.bg-white { background-color: white !important; }
.bg-wf-gray { background: #44464a; }
.bg-wf-purple { background:  #ae1e23; }
.bg-wf-blue { background: #00698c; }
.bg-wf-red { background: #ae1e23; }
.bg-wf-orange { background: #ce4c00; }
.bg-wf-green { background: #007337; }

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'land/_base';
@import 'land/_btn';
@import 'land/_caro';
@import 'land/_head';
@import 'land/_mason';
@import 'land/_misc';
@import 'land/_tile';
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* >^!^< */
