// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'compass/css3';
@import 'core/all';
@import 'default/_all';

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
// DEFS

.bg-d_coolgray { background: $a_d_coolgray; }
.bg-plum { background:  $a_plum; }
.bg-d_teal { background: $a_d_teal; }
.bg-warmred { background: $a_warmred; }
.bg-d_orange { background: $a_d_orange; }
.bg-d_green { background: $a_d_green; }
.bg-magenta { background: $a_magenta; }
.bg-n_air { background: $n_air; }

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'land/_btn';
@import 'land/_caro';
@import 'land/_misc';
@import 'land/_tile';
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* >^!^< */
