// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'compass/css3';
@import 'core/all';
@import 'default/_all';

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
// DEFS

$sans: 'myriad-pro', sans-serif;
$serif: 'Archer SSm A', 'Archer SSm B', serif;

.bg-white { background-color: white !important; }
.bg-wf-gray { background: $a_d_coolgray; }
.bg-wf-purple { background:  $a_d_red; }
.bg-wf-blue { background: $a_d_teal; }
.bg-wf-red { background: $a_d_red; }
.bg-wf-orange { background: $a_d_orange; }
.bg-wf-green { background: $a_d_green; }

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
@import 'land/_base';
@import 'land/_btn';
@import 'land/_caro';
@import 'land/_misc';
@import 'land/_tile';
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* >^!^< */
