/* CORE */
@import url("/lib/fonts/archer.ssm.css");
@import url("/lib/fonts/myriad.css");
@import url("/lib/fonts/myriad.con.css");
/* CORE / define */
/* CORE / functions */
/* CORE / mixins */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DEFAULT */
/* DEFAULT/_ada.scss */
.ada { display: initial !important; height: 1px; left: -5000px; overflow: hidden; position: absolute; top: 0; visibility: visible !important; width: 1px; }

::selection, .selection { background-color: yellow; text-shadow: 1px 2px 3px gray; }

.keyboard :focus, .keyboard .focus { outline-color: yellow; }

.mouse :focus, .mouse .focus { outline: none; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DEFAULT/_etc.scss */
debug { display: none; }
.debug debug { background-color: rgba(222, 222, 222, 0.2); color: lime; display: initial; position: absolute; }

.clearfix:after { /* clearfix */ clear: both; content: ''; display: table; border-collapse: collapse; }

.upgradeframe { background-color: #ccc; font-family: 'arial black'; height: 100%; padding: 9em; position: fixed; width: 100%; }

nav.fineprint { font-size: 10pt; padding-top: 1em; text-align: center; }

p.fineprint { font-size: 8pt; padding: 1em 0; }
.desktop p.fineprint { font-size: 9pt; padding-right: 5em; }

.lookdown, .lookup { -moz-transition: all 0.25s; -o-transition: all 0.25s; -webkit-transition: all 0.25s; transition: all 0.25s; left: 0; right: 0; position: absolute; margin-left: auto; margin-right: auto; cursor: pointer; font-size: 2em; height: 2em; opacity: 0.3; overflow: hidden; text-align: center; z-index: 7; }
.lookdown:active, .lookup:active { opacity: 0.9; color: gray; }
.lookdown:hover, .lookup:hover { opacity: 0.6; }
.lookdown .glyphicon, .lookup .glyphicon { background-color: rgba(0, 0, 0, 0.3); border-radius: 4em; color: white; height: 8em; width: 2.66667em; z-index: 7; }
.lookdown *, .lookup * { top: 0; right: 0; bottom: 0; left: 0; margin: auto; position: absolute; -moz-transform: scaleX(1.5); -ms-transform: scaleX(1.5); -webkit-transform: scaleX(1.5); transform: scaleX(1.5); line-height: 2; }
.lookdown .glyphicon-menu-up, .lookup .glyphicon-menu-up { top: auto; }
.lookdown .glyphicon-menu-down, .lookup .glyphicon-menu-down { bottom: auto; }

.lookdown { bottom: 0; }

.lookup { top: 0; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DEFAULT/_base.scss */
html, body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: "myriad-pro", sans-serif; font-weight: 400; line-height: 1; min-height: 100%; }

a:focus { color: white; text-decoration: underline; }

button { border: none; border-radius: 0.2em; color: white; display: block; font-size: 1.5em; margin: auto; padding: 0.2em 1.5em; text-align: center; }

div { -moz-transition: all 0.25s; -o-transition: all 0.25s; -webkit-transition: all 0.25s; transition: all 0.25s; position: relative; }

footer { background: #3f3f3f; border-top: 5px solid #8f8f8f; color: #cfcfcf; font-family: "myriad-pro", sans-serif; line-height: 1.3; text-align: left; }
footer li { border-left: 1px solid white; display: inline-block; line-height: 1; list-style: none; margin: 0.5em 1em 0 0; padding-left: 1em; }
footer li:first-child { border: none; padding-left: 0; }
footer li:hover { text-decoration: underline; }
@media (max-width: 767px) { footer .stage, footer nav { display: none !important; } }
@media (min-width: 768px) { footer .stage { float: left; height: 6em; margin-top: -6.2em; margin-right: -100%; opacity: 0.5; } }

header { background-color: white; font-family: "myriad-pro", sans-serif; position: absolute; width: 100%; z-index: 1; }
header > div { min-height: 50px; position: fixed; width: inherit; }
header li { list-style: none; }
header .mobile { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1MTcyZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhlMDExNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5172f), color-stop(100%, #8e0114)); background-image: -moz-linear-gradient(top, #d5172f 0%, #8e0114 100%); background-image: -webkit-linear-gradient(top, #d5172f 0%, #8e0114 100%); background-image: linear-gradient(to bottom, #d5172f 0%, #8e0114 100%); display: block; width: 100%; }
header .mobile img { top: 0; right: 0; bottom: 0; left: 0; margin: auto; position: absolute; height: 40px; }
.desktop .land header { position: initial; width: initial; z-index: initial; }
.desktop .land header > div { min-height: initial; position: initial; }

h2 { font-size: 3em; font-weight: 500; line-height: 1.2; margin-bottom: 0.5em; }

h3 { font-size: 2.4em; font-weight: 500; margin-bottom: 1em; }

img { max-width: 100%; }

p { font-size: 1em; line-height: 1.4; }

.celldiv { -webkit-overflow-scrolling: touch; padding-top: 50px; padding-bottom: 3em; }
.desktop .land .celldiv { padding-top: 0; padding-bottom: 9em; }

.frame { border-collapse: collapse; display: table; height: 100%; width: 100%; }
.frame > header, .frame > footer, .frame > section { display: table-row; }
.frame > header, .frame > footer { height: 1%; }
.frame > section { height: 500%; }

.ui-page-active { -webkit-overflow-scrolling: touch; height: 100%; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DEFAULT/_modal.scss */
.modal { background-color: rgba(33, 33, 33, 0.9); display: none; z-index: 1000; /* cover */ position: fixed; left: 0; top: 0; width: 100%; height: 100%; }
.modal * { max-width: 100%; }
.modal.active { display: block !important; }
.modal > div { background-color: white; border-radius: 3px; box-shadow: 0 3px 24px -4px black; display: block; z-index: 1100; /* center */ position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 960px; height: 540px; }
.modal > div a.closer { background: url("../images/buttons/close.png") no-repeat; height: 32px; position: absolute; right: -20px; top: -15px; width: 32px; z-index: 9; }
.modal > div a.closer img { border: 0; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DEFAULT/_nav.scss */
nav a { color: white; white-space: nowrap; }
nav a:hover { color: white; }
nav ul.menu { list-style: none; padding: 0.5em; }
nav ul.menu a { border-radius: 0.5em; display: block; font-weight: 600; margin: 2px 0; padding: 0.5em; }
nav ul.menu a:hover { background-color: rgba(33, 33, 33, 0.5); text-decoration: none; }
nav ul.menu a::before { float: right; font-family: FontAwesome; margin: 0.5em; }
nav ul.menu a img { margin-right: 0.5em; }

.navbar { border: none; margin: 0; }
.navbar nav { display: none; }
.navbar .navbar-header, .navbar .navbar-toggle { display: block; float: right; }
.desktop .land .navbar .navbar-header, .desktop .land .navbar .navbar-toggle { display: none; }
.desktop .land .navbar .navbar-brand { height: 80px; }

.navbar .navbar-toggle { border: 0; font-size: 20px; height: 32px; margin: 0.5em; z-index: 2; }
.navbar .navbar-toggle * { -moz-transition: all 0.25s; -o-transition: all 0.25s; -webkit-transition: all 0.25s; transition: all 0.25s; }
.navbar .navbar-toggle span.icon-bar { background-color: white; }
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover { background: none; }
.navbar .navbar-toggle.collapsed span.icon-bar { background-color: white; }
.navbar .navbar-toggle:not(.collapsed) span.icon-bar { -moz-transform-origin: 13% 50%; -ms-transform-origin: 13% 50%; -webkit-transform-origin: 13% 50%; transform-origin: 13% 50%; }
.navbar .navbar-toggle:not(.collapsed) span.icon-bar:nth-child(2) { -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.navbar .navbar-toggle:not(.collapsed) span.icon-bar:nth-child(3) { background-color: transparent; }
.navbar .navbar-toggle:not(.collapsed) span.icon-bar:last-child { -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DEFAULT/_push.scss */
.pushin nav { background-image: url("../images/bkgrs/original-bubbles-dark.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMiUiIHN0b3AtY29sb3I9IiMwMDk1YzgiLz48c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzAwNjk4YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: url("../images/bkgrs/original-bubbles-dark.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(22%, #0095c8), color-stop(88%, #00698c)); background-image: url("../images/bkgrs/original-bubbles-dark.png"), -moz-linear-gradient(top, #0095c8 22%, #00698c 88%); background-image: url("../images/bkgrs/original-bubbles-dark.png"), -webkit-linear-gradient(top, #0095c8 22%, #00698c 88%); background-image: url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(to bottom, #0095c8 22%, #00698c 88%); background-size: cover, cover !important; box-shadow: 1px 2px 3px black; display: block; font-size: 2em; height: 100%; margin-top: 50px; position: fixed; text-transform: uppercase; width: 67%; z-index: 1; }
.pony .pushin nav { background-image: url("../images/bkgrs/original-bubbles-dark.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMiUiIHN0b3AtY29sb3I9IiNlYzFjMjkiLz48c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iI2FlMWUyMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: url("../images/bkgrs/original-bubbles-dark.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(22%, #ec1c29), color-stop(88%, #ae1e23)); background-image: url("../images/bkgrs/original-bubbles-dark.png"), -moz-linear-gradient(top, #ec1c29 22%, #ae1e23 88%); background-image: url("../images/bkgrs/original-bubbles-dark.png"), -webkit-linear-gradient(top, #ec1c29 22%, #ae1e23 88%); background-image: url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(to bottom, #ec1c29 22%, #ae1e23 88%); }
.snow .pushin nav { background-image: url("../images/bkgrs/original-bubbles-dark.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMiUiIHN0b3AtY29sb3I9IiNhZTI1NzMiLz48c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzgyMTg2MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: url("../images/bkgrs/original-bubbles-dark.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(22%, #ae2573), color-stop(88%, #821861)); background-image: url("../images/bkgrs/original-bubbles-dark.png"), -moz-linear-gradient(top, #ae2573 22%, #821861 88%); background-image: url("../images/bkgrs/original-bubbles-dark.png"), -webkit-linear-gradient(top, #ae2573 22%, #821861 88%); background-image: url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(to bottom, #ae2573 22%, #821861 88%); }
.jing .pushin nav { background-image: url("../images/bkgrs/original-bubbles-dark.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMiUiIHN0b3AtY29sb3I9IiMwMDk1YzgiLz48c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzAwNjk4YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: url("../images/bkgrs/original-bubbles-dark.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(22%, #0095c8), color-stop(88%, #00698c)); background-image: url("../images/bkgrs/original-bubbles-dark.png"), -moz-linear-gradient(top, #0095c8 22%, #00698c 88%); background-image: url("../images/bkgrs/original-bubbles-dark.png"), -webkit-linear-gradient(top, #0095c8 22%, #00698c 88%); background-image: url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(to bottom, #0095c8 22%, #00698c 88%); }
.pushin nav .shareBar { margin: auto; text-align: center; top: 5em; }
.pushin nav .shareBar ul { display: inline; }
.pushin nav .shareBar li { margin: 0.25em; }

.row-offcanvas, .row-offcanvas .sidebar-offcanvas { -moz-transition: all 0.25s ease-out; -o-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out; position: relative; }
.row-offcanvas.row-offcanvas-right { right: 0; }
.row-offcanvas.row-offcanvas-left { left: 0; }
.row-offcanvas.row-offcanvas-right .sidebar-offcanvas { right: -67%; }
.row-offcanvas.row-offcanvas-left .sidebar-offcanvas { left: -67%; }
.row-offcanvas.row-offcanvas-right.active { right: 67%; }
.row-offcanvas.row-offcanvas-left.active { left: 67%; }
.row-offcanvas .sidebar-offcanvas { height: 100%; opacity: 0; position: absolute; top: 0; width: 67%; }
.row-offcanvas.active .sidebar-offcanvas { opacity: 1; z-index: 1; }
.row-offcanvas nav { -moz-transition: all 0.25s; -o-transition: all 0.25s; -webkit-transition: all 0.25s; transition: all 0.25s; right: -67%; }
.row-offcanvas.active nav { right: 0; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DEFAULT/_screen.scss */
@media (min-width: 0px) and (max-width: 519px) and (orientation: portrait), (min-width: 0px) and (max-width: 767px) and (orientation: landscape) { .ui-page > div { font-size: 0.6em; } }
@media (min-width: 520px) and (max-width: 767px) and (orientation: portrait), (min-width: 768px) and (max-width: 991px) and (orientation: landscape) { .ui-page > div { font-size: 0.7em; } }
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait), (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) { .ui-page > div { font-size: 0.9em; } }
@media (min-width: 992px) and (max-width: 1199px) and (orientation: portrait), (min-width: 1200px) and (max-width: 9998px) and (orientation: landscape) { .ui-page > div { font-size: 1em; } }
@media (min-width: 1200px) and (max-width: 9998px) and (orientation: portrait), (min-width: 9999px) and (max-width: 9998px) and (orientation: landscape) { .ui-page > div { font-size: 1.2em; } }
@media (min-width: 9999px) and (max-width: 9998px) and (orientation: portrait), (min-width: 9999px) and (max-width: 9998px) and (orientation: landscape) { .ui-page > div { font-size: 1.4em; } }

@media (min-width: 0px) and (max-width: 519px) and (orientation: portrait), (min-width: 0px) and (max-width: 767px) and (orientation: landscape) { .debug header { border-top: 1px solid lime; } }
@media (min-width: 520px) and (max-width: 767px) and (orientation: portrait), (min-width: 768px) and (max-width: 991px) and (orientation: landscape) { .debug header { border-top: 1px solid yellow; } }
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait), (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) { .debug header { border-top: 1px solid pink; } }
@media (min-width: 992px) and (max-width: 1199px) and (orientation: portrait), (min-width: 1200px) and (max-width: 9998px) and (orientation: landscape) { .debug header { border-top: 1px solid red; } }
@media (min-width: 1200px) and (max-width: 9998px) and (orientation: portrait), (min-width: 9999px) and (max-width: 9998px) and (orientation: landscape) { .debug header { border-top: 1px solid green; } }
@media (min-width: 9999px) and (max-width: 9998px) and (orientation: portrait), (min-width: 9999px) and (max-width: 9998px) and (orientation: landscape) { .debug header { border-top: 1px solid blue; } }

html .desktop { display: none; }
html.desktop .desktop { display: inherit; }
html.desktop .mobile { display: none; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* DEFAULT/_share.scss */
.shareBar { opacity: 0.5; }
.shareBar:hover { opacity: 0.75; }
header .shareBar { font-size: 15px; padding: 30px 20px 10px; position: absolute; right: 0; top: 0; }
.shareBar .shares { font-size: 1.28571em; line-height: 0; list-style: none; margin: 0; padding-left: 0; }
.shareBar .shares > li { background-color: #333; border-radius: 9em; display: inline-block; line-height: 1.5; margin-left: 1em; text-align: center; white-space: nowrap; zoom: 1; }
.shareBar .shares > li > a { color: #fff; display: block; height: 1.8em; text-decoration: none; width: 1.8em; }
.shareBar .shares > li > a:hover, .shareBar .shares > li > a:focus { color: #ccc; cursor: pointer; }
.shareBar .shares .icon-facebook, .shareBar .shares .icon-googleplus, .shareBar .shares .icon-pinterest, .shareBar .shares .icon-share, .shareBar .shares .icon-twitter { -moz-transform: scale(0.95); -ms-transform: scale(0.95); -webkit-transform: scale(0.95); transform: scale(0.95); }
.shareBar .shares .icon-facebook::after, .shareBar .shares .icon-googleplus::after, .shareBar .shares .icon-pinterest::after, .shareBar .shares .icon-share::after, .shareBar .shares .icon-twitter::after { font-family: FontAwesome; font-size: 1.28571em; }
.shareBar .shares .icon-share { -moz-transform: scale(0.9, 0.75); -ms-transform: scale(0.9, 0.75); -webkit-transform: scale(0.9, 0.75); transform: scale(0.9, 0.75); -moz-transform-origin: 50% 33%; -ms-transform-origin: 50% 33%; -webkit-transform-origin: 50% 33%; transform-origin: 50% 33%; }
.shareBar .shares .icon-facebook::after { content: '\f09a'; }
.shareBar .shares .icon-googleplus::after { content: '\f0d5'; left: 0.05em; }
.shareBar .shares .icon-share::after { content: '\f0e0'; }
.shareBar .shares .icon-twitter::after { content: '\f099'; }
.shareBar .shares .icon-pinterest::after { content: '\f231'; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* PONY/_all.scss */
/* PONY/_misc.scss */
.pony .celldiv { padding: 0; }

.ui-page-active { background-image: url("../images/bkgrs/bubbles-red.jpg"); background-size: cover; }

.outro .shareBar2 { font-size: 1.7em; }
.shareBar2 .shares li { background-color: white; }
.shareBar2 .shares li a { color: #165267; }
.shareBar2 .shares li a:hover, .shareBar2 .shares li a:focus { color: #2394a0; }

.stage { display: none; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* PONY/_junk.scss */
h1 { font-family: "Archer SSm A", "Archer SSm B", serif; font-weight: 600; font-size: 42px; }

#page-wrap { color: white; }
#page-wrap .btn { background-color: #75040c !important; border-color: #75040c !important; color: white !important; display: block; font-size: 18px; font-weight: 600; margin: 0.25em auto; padding: 0.5em; position: relative; text-align: center; text-transform: uppercase; }
#page-wrap .btn:hover { background: #8b181b !important; }
#page-wrap .btn-quiz { width: 300px; }
#page-wrap .btn-start, #page-wrap .btn-restart { margin-top: 1em; width: 8em; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body { border-top: none; }

.panel-body { background-color: transparent !important; display: table; padding: 0; position: relative; width: 100%; }

.panel { padding: 0; background-color: transparent !important; }

.panel-title { color: inherit; font-size: 16px; margin-top: 100px; margin-bottom: 0; margin-top: 0; }

.panel-body.welcome-body { margin-top: 0px; padding-top: 80px; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.sr-clip { display: none; }

.form-group { margin-bottom: 0; }

.radio { position: relative; display: block; margin-top: 5px; margin-bottom: 5px; }

.welcome .quiz-question { max-width: 50em; margin: 0 auto; padding: 1em 1em 1em 1em; display: table-cell; text-align: center; vertical-align: top; }
@media (min-width: 768px) { .welcome .quiz-question { padding: 2em 2em 4em 2em; } }

.check-element { padding: 10px; border: none; background: white; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* PONY/_media.scss */
@media (min-width: 768px) { .pony .quiz .welcome .responses-label { font-size: 16px; font-weight: normal; color: white; line-height: 1.125; text-transform: uppercase; } }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* PONY/_quiz.scss */
h1.quiz-title { font-family: "Archer SSm A", "Archer SSm B", serif; font-weight: 600; text-align: center !important; color: white; font-size: 42px; margin-top: 70px; margin-bottom: 25px; }

h2.quiz-title { margin: 0 auto 50px auto; font-size: 40px; font-weight: 500; line-height: 1.125; font-family: "Archer SSm A", "Archer SSm B", serif; }

p.quiz-instructions { font-size: 20px; font-weight: 400; font-family: "myriad-pro", sans-serif; line-height: 1.350; }

.quiz-skip .quiz-skip-icon { border: none; border-radius: 50%; width: 32px; height: 32px; line-height: 26px; margin-left: 3px; vertical-align: middle; text-align: center; }

.quiz .progress-button.answered { background-color: white; }
.quiz input[type='radio'] { border: 0; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; overflow: hidden; -webkit-appearance: none; visibility: hidden; display: none; }
.quiz .traditional .filler, .quiz .linear .filler { text-align: center; color: #000; line-height: 30px; font-weight: bold; display: block; width: 30px; height: 30px; background-color: #FCC60A; border-radius: 50%; position: absolute; left: -3px; top: -3px; cursor: pointer; }
.quiz .traditional input[type='radio']:checked + .filler, .quiz .linear input[type='radio']:checked + .filler { background-color: white; color: #8B181B; }
.quiz .linear .filler { content: ''; background-color: #AE1E23; border: 2px solid #FCC60A; width: 28px; height: 28px; left: 3px; top: -2px; }
.quiz .panel-group { margin: 0; }
.quiz .panel { border: 0; border-radius: 0; }
.quiz .panel-body { padding: 0; position: relative; display: table; width: 100%; }
.quiz .panel-body .welcome-body { padding: 0; position: relative; display: block; width: 100%; }
.quiz .panel-heading { border-radius: 0; padding: 0; border: 0; height: 0; }
@media (min-width: 768px) { .quiz .panel-heading { background-color: transparent; border: none; height: 0; } }
.quiz .active .panel-heading { height: 0; }
.quiz .panel-title a { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.quiz .panel-heading:focus { background-color: transparent; }
.quiz .progress-indicators { position: absolute; top: 50%; text-align: center; right: 5px; }
@media (min-width: 768px) { .quiz .progress-indicators { right: 15px; } }
.quiz .progress-button:first-child { margin-top: 0; }
.quiz .progress-button { display: block; margin: 10px auto; width: 5px; height: 5px; background-color: white; border-radius: 50px; opacity: .25; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
@media (min-width: 768px) { .quiz .progress-button { width: 10px; height: 10px; } }
.quiz .progress-button.active { width: 10px; height: 10px; margin: 5px auto; opacity: 1; pointer-events: none; }
@media (min-width: 768px) { .quiz .progress-button.active { width: 15px; height: 15px; } }
.quiz .progress-button.answered { background-color: white; }
.quiz .responses { width: 100%; margin: 0 auto; text-align: center; position: relative; }
.quiz .responses-label { font-size: 16px; font-weight: normal; color: white; line-height: 1.125; }
@media (min-width: 768px) { .quiz .responses-label { font-size: 18px; padding-left: 50px; } }
@media (min-width: 768px) { .quiz .responses-label { font-size: 18px; } }
.quiz .question-header-image { width: 100px; height: auto; margin-top: 30px; margin-bottom: 15px; }
@media (min-width: 768px) { .quiz .question-header-image { width: 175px; } }

h4.panel-title a { height: 0; }

.panel-heading { height: 0; }

.response-text { position: relative; z-index: 5; }

.quiz-question { max-width: 20em; margin: 0 auto; padding: 1.5em 1em 1em 1em; display: table-cell; text-align: center; vertical-align: top; }

.quiz-title, .quiz-finish-title { font-weight: 700; font-size: 22px; margin: 0; line-height: 1.125; color: white; }
@media (min-width: 768px) { .quiz-title, .quiz-finish-title { margin: 30px auto 50px auto; font-size: 40px; font-weight: 500; line-height: 1.125; font-family: "Archer SSm A", "Archer SSm B", serif; } }
@media (min-width: 992px) { .quiz-title, .quiz-finish-title { font-size: 42px; } }

.quiz-finish-title { margin-bottom: 30px; }

.quiz-finish-text { color: white; }

.quiz-submit { background: #0095C8; border: 2px solid white; padding: 15px 30px; border-radius: 0; margin-bottom: 30px; color: #000; font-size: 18px; }
.quiz-submit:hover { color: white; }
.quiz-submit:focus, .quiz-submit:active { outline: 0; }

.panel-group .panel + .panel { margin-top: 0; }

.quiz-controls { position: absolute; bottom: 0; left: 50%; -webkit-appearance: none; border: 0; width: 74px; height: 37px; text-align: center; margin-left: -37px; background-color: rgba(0, 0, 0, 0.15); color: white; cursor: pointer; }
.quiz-controls span { line-height: 37px; font-size: 14px; top: 0; }
@media (min-width: 768px) { .quiz-controls { width: 100px; height: 50px; margin-left: -50px; } }

.winning-horse-intro { font-family: "Archer SSm A", "Archer SSm B", serif; font-size: 42px; font-weight: 500; text-align: center; color: white; margin-top: 0; margin-bottom: 10px; }

.winning-horse-name { text-transform: uppercase; font-family: "Archer SSm A", "Archer SSm B", serif; font-size: 50px; font-weight: 700; text-align: center; color: white; margin-top: 0; margin-bottom: 25px; }

.winning-horse-bio { font-family: "myriad-pro", sans-serif; color: white; text-align: center; margin-top: 0; margin-bottom: 25px; font-size: 20px; font-weight: 400; line-height: 1.200; }
@media (max-width: 768px) { .winning-horse-bio { font-family: "myriad-pro", sans-serif; color: white; text-align: center; margin-top: 0; margin-bottom: 35px; font-size: 18px; font-weight: 300; line-height: 1.200; padding-right: 5%; padding-left: 5%; } }
@media (max-width: 768px) { .winning-horse-bio { font-family: "myriad-pro", sans-serif; color: white; text-align: center; margin-top: 0; margin-bottom: 35px; font-size: 18px; font-weight: 300; line-height: 1.200; padding-right: 15%; padding-left: 15%; } }
@media (max-width: 600px) { .winning-horse-bio { font-family: "myriad-pro", sans-serif; color: white; text-align: center; margin-top: 0; margin-bottom: 35px; font-size: 18px; font-weight: 300; line-height: 1.200; padding-right: 5%; padding-left: 5%; } }

@media (min-width: 768px) { .header-image-0 { width: 350px; height: 350px; } }
@media (max-width: 768px) { .header-image-0 { width: 250px; height: 250px; } }

@media (max-width: 768px) { img.header-image-winner { width: 300px; height: 300px; margin-right: auto; margin-left: auto; text-align: center; padding-top: 0; } }
@media (min-width: 600px) { img.header-image-winner { width: 250px; height: 250px; margin-right: auto; margin-left: auto; text-align: center; padding-top: 0; } }
@media (max-width: 1199px) { img.header-image-winner { width: 350px; height: 350px; margin-right: auto; margin-left: auto; text-align: center; padding-top: 0; } }
@media (max-width: 600px) { img.header-image-winner { width: 200px; height: 200px; margin-right: auto; margin-left: auto; text-align: center; padding-top: 0; } }

.share-your-pony { text-align: center; color: white; font-size: 20px; border-radius: 3px; margin-top: 10px; margin-bottom: 30px; }

.share-quiz-footer span { height: 35px; width: 35px; }

#results-container .quiz-results { height: 100%; margin-top: 0; padding-top: 0; }
#results-container .share-quiz-footer { margin: 0 auto 15px auto; }
#results-container .share-quiz-footer .fa-circle { color: white; cursor: pointer; }
#results-container .share-quiz-footer i { color: #8B181B; cursor: pointer; }
#results-container .share-quiz-footer span { margin-left: 15px; margin-right: 15px; cursor: pointer; height: 35px; width: 35px; }
#results-container .quiz-question { padding-top: 0; margin-top: 0; }
#results-container .panel-body { padding: 0; position: relative; display: table; width: 100%; height: 100%; background-image: none; background-repeat: no-repeat; background-attachment: relative; background-position: bottom; background-size: cover; }
#results-container .panel-group { padding: 0; margin-bottom: 0; }
#results-container .panel-group-winner, #results-container .quiz-question { height: 100%; }

#question-0 .quiz-skip .quiz-skip-icon { color: #BB0826; }
@media (min-width: 768px) { #question-0 .quiz-title { margin: 0 auto 25px auto; font-size: 40px; font-weight: 600; line-height: 1.125; color: white; text-transform: uppercase; font-family: "Archer SSm A", "Archer SSm B", serif; } }
@media (max-width: 768px) { #question-0 .quiz-title { margin: 0 auto 15px auto; font-size: 32px; font-weight: 600; line-height: 1.125; color: white; text-transform: uppercase; font-family: "Archer SSm A", "Archer SSm B", serif; } }
@media (min-width: 768px) { #question-0 p.quiz-instructions { margin-bottom: 65px; } }
@media (max-width: 768px) { #question-0 p.quiz-instructions { font-weight: 300; line-height: 1.200; margin-bottom: 25px; } }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* >^!^< */

/*# sourceMappingURL=pony.css.map */
