@charset "UTF-8";
/* CORE */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* PROJ / snowmen
.snowmen { left: 0; right: 0; margin-left: auto; margin-right: auto; background-color: white; max-width: 600px; min-width: 300px; position: relative; width: 100%; }
*/

.mode0 .snowmen *, #Preview .snowmen * { -webkit-user-drag: none; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.snowmen div[u="slides"] { cursor: col-resize; cursor: ew-resize; height: 214px; overflow: hidden; position: absolute; width: 600px; }
.mode0 .snowmen div[u="slides"] { cursor: none; }
.snowmen .slider { left: 0; right: 0; margin-left: auto; margin-right: auto; clear: both; height: 214px; overflow: hidden; position: relative; width: 600px; }
#Preview .snowmen { box-shadow: none; }
#Preview .snowmen .slider { margin-bottom: -1.5px !important; }

#Toy .snowmen .slider { box-shadow: none; }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* PROJ / preview */
#Preview { left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: rgba(255, 255, 255, 0.6); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, rgba(255, 255, 255, 0.6)), color-stop(99%, rgba(255, 255, 255, 0.6))); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 1%, rgba(255, 255, 255, 0.6) 99%); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 1%, rgba(255, 255, 255, 0.6) 99%); background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 1%, rgba(255, 255, 255, 0.6) 99%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; cursor: not-allowed; display: none; position: absolute; width: 100%; height: 100%; }
#Preview .splash { position: relative; left: 184px; top: 333px; width: 300px; z-index: 10; }
#Preview .nav { left: 0; right: 0; margin-left: auto; margin-right: auto; background-color: white; border: 1px solid #e0e3e2; border-radius: 5px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6); display: table; margin-top: 40px; padding: 3px 12px; position: relative; z-index: 100; }
.lt-ie9 #Preview .nav { border-color: #bb0826; }
#Preview .nav a:hover, #Preview .nav a:hover * { filter: alpha(opacity=60); opacity: 0.6; }
#Preview .nav .c52 { left: initial !important; position: fixed; }
.lt-ie9 #Preview .nav a.printLink { display: none; }
#Preview .nav a.closeLink { background: url("../images/buttons/close.png") right 6px no-repeat; -moz-background-size: 13px; -o-background-size: 13px; -webkit-background-size: 13px; background-size: 13px; color: #bb0826; display: inline-block; padding: 4px 20px 4px 1px; position: relative; text-decoration: none; z-index: 40; }
.lt-ie9 #Preview .nav a.closeLink { background-image: url("../images/buttons/close-lr.png"); }
#Preview .nav a.emailOnly { background-position: 0 7px; color: #434343; display: inline-block; padding: 4px 1px 4px 24px; position: relative; text-decoration: none; z-index: 40; }
#Preview .nav .sideUtility { overflow: visible; }
