// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_ani.scss */

@include keyframes(throb) {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
@mixin throb {
    @include animation (throb 2s linear infinite);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
