// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_game.scss */

.game {
    display: table-cell;
    vertical-align: middle;

    .intro, .outro {
        color: white;
        text-align: center;
        z-index: 11;

        h1 {
            font: 600 2.5em/1 $serif;
            margin: 1em;
        }
        h2 {
            font: 600 2em/1 $serif;
            margin: 1em;
        }
        p {
            font: 400 1.6em/1 $sans;
            margin: 1em;
        }
        img {
            width: 6em;
        }
    }
    .gameOutput {
        font: 800 1.6em/1 $serif;
    }
    .gameInput {
        font: 800 1.6em/1 $sans;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
