// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_jumble.scss */

.jumble {
    z-index: 1;

    hr {
        background-color: $blueL;
        border: 0;
        height: $stroke;
        margin: 1em;
        opacity: 0.5;
    }
    .slot, .tile {
        border-radius: $stroke;
        color: $blueD;
        font-size: 2em;
        line-height: 1.75em;
        margin: $stroke / 2;
        padding: 0 0.2em;
        text-transform: uppercase;
        &.space {
            margin-left: 0.5em;
        }
    }
    .slot {
        background-color: $bkgr;
        color: $trans;
        font-weight: 500;
        opacity: 0.5;
        &.unsolved {
            background-color: $blueL;
            opacity: 0.3;
        }
        &.now {
            @include throb;
        }
        &.bad {
            background-color: red;
            color: red;
        }
        &.solved {
            border-color: $trans;
            color: white;
            opacity: 1;
        }
    }
    .tile {
        background-color: $blueL;
        border-color: $blueL;
        text-shadow: $shadL;
        &.used {
            color: white;
            cursor: not-allowed;
            opacity: 0.8;
            text-shadow: $shadD;
        }
        &.unused {
            cursor: pointer;
            &:hover {
                color: white;
                opacity: 1;
            }
        }
    }
    &.won {
        .tile.used {
            opacity: 0.3;
        }
        .solved {
            background-color: $blueX;
            &.now {
                background-color: gold;
                text-shadow: $shadF;
            }
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
