// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_jumble.scss */

.jumble {
    @include middify;
    @include nosel;

    margin: auto;
    max-width: 90%; max-height: 50%;
    min-height: 480px; min-width: 320px;
    padding: 0em 2em 6em;
    text-align: center;
    z-index: 1;

    hr {
        background-color: $blueL;
        border: 0;
        height: $stroke;
        margin: 1em;
        opacity: 0.5;
    }
    span {
        border: $stroke outset $trans;
        border-radius: $stroke;
        font-size: 2em;
        line-height: 1.75em;
        margin: $stroke / 2;
        padding: 0 0.2em;
        text-transform: uppercase;
        @media (max-width: 767px) {
            font-size: 1.4em!important;
        }
        &.space {
            margin-left: 0.5em;
        }
        &.slot {
            background-color: $bkgr;
            color: $trans;
            font-weight: 500;
            opacity: 0.5;
            &.unsolved {
                border: $stroke outset $blueB;
            }
            &.now {
                @include throb;
                border-color: lime;
            }
            &.bad {
                border-color: red;
                color: red;
            }
            &.solved {
                border-color: $trans;
                color: white;
                opacity: 1;
            }
        }
        &.tile {
            background-color: $blueL;
            border-color: $blueL;
            text-shadow: $shadL;
            &.used {
                color: white;
                cursor: not-allowed;
                opacity: 0.8;
                text-shadow: $shadD;
            }
            &.unused {
                cursor: pointer;
                &:hover {
                    border-color: $blueB;
                    opacity: 1;
                }
            }
        }
    }
    .won {
        border: 0.5em groove gold;
        text-shadow: $shadF;
    }
    .gameOutput {
        font: $serf1;
    }
    .gameInput {
        font: $sans1;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
