// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_jumble.scss */

$bkgr: #1c6c84;
$line: 3px;
$trans: transparent;

// BLUE
$blueB: #5298ad;//69c;
$blueD: #165267;
$blueM: #2394a0;
$blueL: #9dc1cc;

// GRAY
$gray5: #555;
$grayC: #ccc;

// SHADOWS
$shadD: 0 0px 1px $gray5;
$shadL: 0 1px 1px $grayC;

// FONT
$sans1: 800 24px/1 $sans;
$sans2: 600 18px/1 $sans;
$serf1: 800 24px/1 $serif;
$serf2: 800 18px/1 $serif;

body {
    @include vgrad($blueL, $blueD);
}
.jumble {
    @include vgrad($blueD, $blueL);
    box-shadow: inset 0 0px 6px black;
    margin: auto;
    min-width: 320px;
    max-width: 640px;
    padding: 3em 2em 2em;
    text-align: center;

    hr {
        background-color: $blueL;
        border: 0;
        height: $line;
        margin: 1rem;
        opacity: 0.5;
    }
    .gameOutput {
        font: $serf1;
    }
    .gameInput {
        font: $sans1;
    }
    span {
        border: $line outset $trans;
        border-radius: 3px;
        height: 2.25em;
        line-height: 3;
        margin: 0.05em;
        padding: 0.5em;
        text-transform: uppercase;
        width: 2em;
        &.space {
            margin-left: 0.5em;
        }
        &.slot {
            color: $trans;
            opacity: 0.5;
            &.unsolved {
                background-color: $bkgr;
                border: $line outset $blueB;
            }
            &.now {
                border-color: green;
            }
            &.bad {
                border-color: red;
                color: red;
            }
            &.solved {
                background-color: $trans;
                border-color: $trans;
                color: white;
                opacity: 1;
            }
        }
        &.tile {
            background-color: $blueL;
            opacity: 0.8;
            text-shadow: $shadL;
            &.used {
                border-color: $blueL;
                color: white;
                opacity: 0.5;
                text-shadow: $shadD;
            }
            &.unused {
                border-color: $blueB;
                cursor: pointer;
                &:hover {
                    border-color: $blueL;
                    opacity: 1;
                }
            }
        }
    }
    .timer {
        color: white;
        font: $sans2;
        margin-top: 3em;
        text-transform: uppercase;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
