// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_message.scss */

.message {
    color: white;
    font-family: $serif;
    height: 3em;
    line-height: 3;
    top: -3em;
    pointer-events: none;
    position: relative;
    text-align: center;

    h1 {
        font-size: 2.2em;
        font-weight: 800;
        line-height: 1.2;
    }
    .debug & {
        pointer-events: auto;
    }
    @media (max-width: 679px) {
        font-size: 1.5em;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
