// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_misc.scss */

.ui-page-active {
    //@include vgrad($blueL, $blueD);
    background-image: url('../images/bkgrs/original-bubbles-big.jpg');
    @include background-image( linear-gradient(top, $trans 66%, $blueX 88%), url('../images/bkgrs/original-bubbles-big.jpg') );
    background-size: cover;
}
footer {
    border-top: 0.3em solid rgba(22,44,88,0.5);
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
