// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* _misc.scss */

.clearfix {
    @include clearfix;
}
.upgradeframe {
    background-color: #ccc;
    font-family: 'arial black';
    height: 100%;
    padding: 9em;
    position: fixed;
    width: 100%;
}
.modal * {
    max-width: 100%;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
