// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_status.scss */

.status {
    background-color: rgba(0,0,0,0.2);
    color: white;
    font: 600 1.3em/1 $sans;
    margin: 2em -20%;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;

    .timer {
        &.stopped {
            color: gold;
        }
        &.started {
            color: white;
        }
        &.over {
            color: red;
        }
    }
    .score {

    }
    @media (max-width: 479px) {
        font-size: 2em;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
