// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* IRT/_timer.scss */

.timer {
    &.stopped {
        color: green;
    }
    &.started {
        color: white;
    }
    &.over {
        color: red;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
