// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_base.scss */

html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $sans;
    font-weight: 400;
    line-height: 1;
    min-height: 100%;
}
a:focus {
    color: white;
    text-decoration: underline;
}
button {
    border: none;
    border-radius: 0.2em;
    color: white;
    display: block;
    font-size: 1.5em;
    margin: auto;
    padding: 0.2em 1.5em;
    text-align: center;
}
footer {
    background: #44464a;
    border-top: 5px solid #888;
    color: white;
    line-height: 1.3;
    text-align: left;

    li {
        border-left: 1px solid white;
        display: inline-block;
        line-height: 1;
        margin: 0.5em 1em 0 0;
        padding-left: 1em;
        &:first-child {
            border: none;
            padding-left: 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
header, footer {
    font-family: $sans;
    li {
        list-style: none;
    }
}
header {
    background-color: white;

    nav ul li a {
        margin: 1em;
    }
    .mobile {
        background-image: url('../images/icons/wf_mobile_bg.png');
        background-size: 100% 100%;
        border-bottom: 1px solid white;
        display: block;
        width: 100%;

        img {
            @include middify;
            height: 40px;
        }
    }
}
h2 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 2.4em;
    font-weight: 500;
    margin-bottom: 1em;
}
img {
    max-width: 100%;
}
p {
    font-size: 1em;
    line-height: 1.4;
}

/// ETC

.clearfix {
    @include clearfix;
}

.ui-page-active {
    height: 100%;
}

.frame {
    border-collapse: collapse;
    display: table;
    height: 100%;
    width: 100%;

    > header, > footer, > section {
        display: table-row;
    }
    > header, > footer {
        height: 1%;
    }
    > section {
        height: 500%;
    }
}

.upgradeframe {
    background-color: #ccc;
    font-family: 'arial black';
    height: 100%;
    padding: 9em;
    position: fixed;
    width: 100%;
}

@media (max-width: $break - 1) {
    footer {
        display: none!important;
    }
    header {
        position: absolute;
        width: 100%;
        z-index: 1;
        > * {
            min-height: 50px !important;
            position: fixed;
            width: inherit;
        }
    }
}
@media (min-width: $break) {
    $off: 5em;
    footer {
        .stage {
            float: left;
            height: $off;
            margin-top: -$off - 0.25em;
            margin-right: -100%;
            opacity: 0.5;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
