// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_base.scss */

html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $sans;
    font-weight: 400;
    line-height: 1;
    min-height: 100%;
}
a {
    &:focus {
        color: white;
        text-decoration: underline;
    }
}
button {
    border: none;
    border-radius: 0.2em;
    color: white;
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    margin: auto;
    padding: 0.5em 1.5em;
    text-align: center;
    text-transform: uppercase;
}
div {
    @include transition(all 0.25s);
    position: relative;
}
footer {
    background: #3f3f3f;
    border-top: 5px solid #8f8f8f;
    color: #cfcfcf;
    font-family: $sans;
    line-height: 1.3;
    text-align: left;

    li {
        border-left: 1px solid white;
        display: inline-block;
        line-height: 1;
        list-style: none;
        margin: 0.5em 1em 0 0;
        padding-left: 1em;
        &:first-child {
            border: none;
            padding-left: 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    @media (max-width: $break - 1) {
        .stage, nav {
            display: none!important;
        }
    }
    @media (min-width: $break) {
        $off: 6em;
        .stage {
            float: left;
            height: $off;
            margin-top: -$off - 0.2em;
            margin-right: -100%;
            opacity: 0.5;
        }
    }
}
header {
    background-color: white;
    font-family: $sans;
    position: absolute;
    width: 100%;
    z-index: 1;
    > div {
        min-height: 50px;
        position: fixed;
        width: inherit;
    }

    li {
        list-style: none;
    }
    .mobile {
        @include background-image( linear-gradient(top, #d5172f 0%, #8e0114 100%));
        //border-bottom: 1px solid white;
        display: block;
        width: 100%;

        img {
            @include middify;
            height: 40px;
        }
    }
    .desktop .land &,
    .desktop .irt & {
        min-height: 75px;
        position: static;
        width: initial;
        z-index: initial;
        > div {
            min-height: 75px;
            position: static;
        }
    }
}
h2 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 2.4em;
    font-weight: 500;
    margin-bottom: 1em;
}
img {
    max-width: 100%;
}
p {
    font-size: 1em;
    line-height: 1.4;
}

// BASIC PHYSICS
.celldiv {
    -webkit-overflow-scrolling: touch;
    padding-top: 50px;
    padding-bottom: 3em;

    .desktop .land & {
        padding-top: 0;
        padding-bottom: 9em;
    }
}
.frame {
    border-collapse: collapse;
    display: table;
    height: 100%;
    width: 100%;

    > header, > footer, > section {
        display: table-row;
    }
    > header, > footer {
        height: 1%;
    }
    > section {
        height: 500%;
    }
}
.ui-page-active {
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
