// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_base.scss */

html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $sans;
    font-weight: 400;
    line-height: 1;
    min-height: 100%;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
