// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_misc.scss */

header {
    display: table-cell;
}

.container * {
    @include transform(scale(1.00));
    @include transition(all 0.25s);
    @include transform-style( preserve-3d );
}

$look: 4em;
.lookdown, .lookup {
    @include centify;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: $look;
    color: white;
    font-size: $look / 2 !important;
    height: $look * 1;
    line-height: 1;
    text-align: center;
    width: $look;
    z-index: 7;

    * {
        @include middify;
        @include transform(scaleX(1.5));
        line-height: 2;
    }
    .glyphicon-menu-up {
        top: auto;
    }
    .glyphicon-menu-down {
        bottom: auto;
    }
}
.lookdown {
    bottom: $look / -2;
}
.lookup {
    top: $look / -2;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
