// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_misc.scss */

.container * {
    @include transform(scale(1.00));
    @include transition(all 0.25s);
    @include transform-style( preserve-3d );
}

/// TEXT

nav.fineprint {
    font-size: 10pt;
    padding-top: 1em;
    text-align: center;
}
p.fineprint {
    font-size: 9pt;
    padding: 1em 5em 1em 0;
}

/// NAV

.lookdown, .lookup {
    $look: 4em;
    @include transition(all 0.25s);
    @include centify;

    cursor: pointer;
    font-size: $look / 2 !important;
    height: $look / 2;
    opacity: 0.3;
    overflow: hidden;
    text-align: center;
    z-index: 7;
    &:active { opacity: 0.9; color: gray; }
    &:hover { opacity: 0.6; }

    .glyphicon {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: $look;
        color: white;
        height: $look * 2;
        width: $look / 1.5;
        z-index: 7;
    }

    * {
        @include middify;
        @include transform(scaleX(1.5));
        line-height: 2;
    }
    .glyphicon-menu-up {
        top: auto;
    }
    .glyphicon-menu-down {
        bottom: auto;
    }
}
.lookdown {
    bottom: 0;
}
.lookup {
    top: 0;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
