// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_nav.scss */

.navbar {
    background: none;
    border: none;
    margin-bottom: 0;

    nav {
        display: none;
    }
    .navbar-brand {
        height: 80px;
    }
    .navbar-toggle {
        font-size: 20px;
    }
}
nav ul {
    padding: 0;

    a {
        color: white;
        white-space: nowrap;

        &:hover {
            color: white;
        }
    }
}
@media (max-width: $break) {
    header .mobile {
        background-image: url('../images/icons/wf_mobile_bg.png');
        background-size: 100% 100%;
        border-bottom: 1px solid white;
        display: block;
        width: 100%;

        img {
            @include middify;
            height: 40px;
        }
    }
    .navbar {
        button {
            margin: 0.5em;
            position: absolute;
            z-index: 2;
        }
    }
    .navbar .navbar-toggle {
        border: 0;

        span.icon-bar {
            background-color: white;
        }
        &:focus, &:hover {
            background: none;
        }
        &.collapsed {
            span.icon-bar {
                background-color: white;
            }
        }
        &:not(.collapsed) {
            span.icon-bar {

                @include transform-origin( 40% );

                &:nth-child(2) {
                    position: absolute;
                    top: 0.7em;
                    @include transform ( rotate(45deg) );
                }
                &:nth-child(3) {
                    background-color: transparent;
                }
                &:last-child {
                    position: absolute;
                    top: 0.7em;
                    @include transform ( rotate(-45deg) );
                }
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
