// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_nav.scss */

nav {
    a {
        color: white;
        white-space: nowrap;
        &:hover {
            color: white;
        }
    }
    ul.menu {
        list-style: none;
        padding: 0.5em;

        a {
            border-radius: 0.5em;
            display: block;
            font-weight: 600;
            margin: 2px 0;
            padding: 0.5em;
            &:hover {
                background-color: rgba(33,33,33,0.5);
                text-decoration: none;
            }
            &::before {
                //content: "\f0d9";
                float: right;
                font-family: FontAwesome;
                margin: 0.5em;
            }
            img {
                margin-right: 0.5em;
            }
        }
    }
}
.navbar {
    border: none;
    margin: 0;

    nav {
        display: none;
    }
    .navbar-header,
    .navbar-toggle {
        .desktop .land & {
            display: none;
        }
        display: block;
        float: right;
    }
    .navbar-brand {
        .desktop .land & {
            height: 80px;
        }
    }
}
.navbar .navbar-toggle {
    border: 0;
    font-size: 20px;
    height: 32px;
    margin: 0.5em;
    z-index: 2;
    html:not(.mobi) & {
        display: none;
    }

    * {
        @include transition(all 0.25s);
    }
    span.icon-bar {
        background-color: white;
    }
    &:focus, &:hover {
        background: none;
    }
    &.collapsed {
        span.icon-bar {
            background-color: white;
        }
    }
    &:not(.collapsed) {
        span.icon-bar {
            @include transform-origin( 13%, 50% );

            &:nth-child(2) {
                @include transform( rotate(45deg) );
            }
            &:nth-child(3) {
                background-color: transparent;
            }
            &:last-child {
                @include transform( rotate(-45deg) );
            }
        }
    }
}
html:not(.mobi) .sidebar-offcanvas {
    font-size: 0.5em;

    nav {
        background: white !important;
        height: 3em;
        left: 0;
        width: 100%;

        .menu {
            display: inline;
            a {
                color: gray;
                display: inline;
                &:hover {
                    color: white;
                }
            }
            li {
                display: inline-block;
                padding: 1em 0.5em;
            }
        }
        .shareBar {
            display: inline;
            float: right;
            font-size: 0.9em;
            right: 2.5em;
            top: 0.25em;
            li {
                margin: 0.25em 0.75em;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
