// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_push.scss */

    .pushin nav {
        display: block;
        height: 90%;
        font-size: 2em;
        margin: 50px -25px 0 0;

        a {
            background-color: rgba(33,33,33,0.6);
            border-radius: 0.6em;
            display: block;
            margin: 2px 0;
            padding: 1em 0.5em;

            &:hover {
                background-color: rgba(33,33,33,1);
                text-decoration: none;
            }
            &::before {
                border: 1px solid white;
                border-radius: 0.3em;
                content: 'X';
                margin-right: 0.5em;
                padding: 3px 5px;
            }
        }
        ul {
            background-color: gray;
            height: 100%;
            padding: 0.5em;
            text-transform: uppercase;
        }
    }

    /// OFF CANVAS
    .row-offcanvas {
        @include transition(all .25s ease-out);
        position: relative;
    }
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -90%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -90%; /* 6 columns */
    }
    .row-offcanvas-right.active {
        right: 90%; /* 6 columns */
    }
    .row-offcanvas-left.active {
        left: 90%; /* 6 columns */
    }
    .sidebar-offcanvas {
        height: 100%;
        position: absolute;
        top: 0;
        width: 90%; /* 6 columns */
    }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
