// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_push.scss */

.pushin {

    nav {
        //@include background-image( url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(top, $a_m_coolgray 22%, $a_l_coolgray 88%) );
        @include background-image( url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(top, $a_teal 22%, $a_d_teal 88%) );
        background-size: cover, cover !important;
        //box-shadow: 1px 2px 3px black;
        display: block;
        font-size: 2em;
        height: 100%;
        margin-top: 50px;
        position: fixed;
        text-transform: uppercase;
        width: 67%;
        z-index: 1;

        .pony & {
            @include background-image( url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(top, $a_warmred 22%, $a_d_red 88%) );
        }
        .snow & {
            @include background-image( url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(top, $a_magenta 22%, $a_d_magenta 88%) );
        }
        .jing & {
            @include background-image( url("../images/bkgrs/original-bubbles-dark.png"), linear-gradient(top, $a_teal 22%, $a_d_teal 88%) );
        }

        .shareBar {
            display: none;
            margin: auto;
            //position: relative;
            text-align: center;
            top: 5em;
            ul {
                display: inline;
            }
            li {
                margin: 0.25em;
            }
        }
    }
}

/// OFF CANVAS

.row-offcanvas {
    $Off: 67%;
    &, .sidebar-offcanvas {
        @include transition(all .25s ease-out);
        position: relative;
    }
    &.row-offcanvas-right { right: 0; }
    &.row-offcanvas-left { left: 0; }
    &.row-offcanvas-right .sidebar-offcanvas { right: -$Off; }
    &.row-offcanvas-left  .sidebar-offcanvas { left: -$Off; }
    &.row-offcanvas-right.active { right: $Off; }
    &.row-offcanvas-left.active { left: $Off; }
    .sidebar-offcanvas {
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: $Off;
    }
    &.active .sidebar-offcanvas {
        opacity: 1;
        z-index: 1;
    }
    // hacks for non-chrome
    nav {
        @include transition(all .25s);
        right: -$Off;
    }
    &.active nav {
        right: 0;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
