// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_push.scss */

@media screen and (max-width: $break) {
    .pushin {
        height: 90%;
        font-size: 2em;
        margin: 50px 25px 0 0;
    }
    .navbar nav {
        display: block;

        a {
            background-color: rgba(33,33,33,0.6);
            border-radius: 0.6em;
            display: block;
            margin: 2px 0;
            padding: 1em 0.5em;

            &:hover {
                background-color: rgba(33,33,33,1);
                text-decoration: none;
            }
            &::before {
                border: 1px solid white;
                border-radius: 0.3em;
                content: 'X';
                margin-right: 0.5em;
                padding: 3px 5px;
            }
        }
        ul {
            background-color: gray;
            padding: 0.5em;
            text-transform: uppercase;
        }
    }

    /// OFF CANVAS
    .row-offcanvas {
        @include transition(all .25s ease-out);
        position: relative;
    }
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -95%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -95%; /* 6 columns */
    }
    .row-offcanvas-right.active {
        right: 95%; /* 6 columns */
    }
    .row-offcanvas-left.active {
        left: 95%; /* 6 columns */
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 95%; /* 6 columns */
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
