// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* DEFAULT/_share.scss */

.shareBar {
    opacity: 0.5;
    &:hover {
        opacity: 0.75;
    }
    header & {
        font-size: 15px;
        padding: 30px 20px 10px;
        position: absolute;
        right: 0;
        top: 0;
    }
    $QB: cubic-bezier(0.5, 0, 0.5, 1);
    $Face: #3a5795;
    $Goog: #d73d32;
    $Gen:  #fcd65c;
    $Twit: #55acee;
    $Pin:  #cb2027;

    $Bkgr: #333;
    $Norm: #fff;
    $Over: #ccc;
    $Radius: 1.8em;
    $Size: $Radius / 1.4;
    $Space: $Radius / 1.8;

    .shares {
        font-size: $Size;
        line-height: 0;
        list-style: none;
        margin: 0;
        padding-left: 0;
        & > li {
            background-color: $Bkgr;
            border-radius: 9em;
            display: inline-block;
            line-height: 1.5;
            margin-left: $Space;
            //position: relative;
            text-align: center;
            white-space: nowrap;
            zoom: 1;
        }
        & > li > a {
            color: $Norm;
            display: block;
            height: $Radius;
            text-decoration: none;
            width: $Radius;
            &:hover, &:focus {
                color: $Over;
                cursor: pointer;
            }
        }
        .icon-facebook,
        .icon-googleplus,
        .icon-pinterest,
        .icon-share,
        .icon-twitter {
            @include transform( scale(0.95) );
            &::after {
                font-family: FontAwesome;
                font-size: $Size;
                //position: relative;
            }
        }
        .icon-share {
            @include transform( scale(0.9, 0.75) );
            @include transform-origin( 50%, 33% ); // comma for compass
        }
        .icon-facebook::after { content: '\f09a'; }
        .icon-googleplus::after { content: '\f0d5'; left: 0.05em; }
        .icon-share::after { content: '\f0e0'; }
        .icon-twitter::after { content: '\f099'; }
        .icon-pinterest::after { content: '\f231'; }
    }

}
/* TODO gareth */
#snowmanShareBar .shareBar .shares { font-size: 1.7em !important; line-height: 0; list-style: none; margin: 0; padding-left: 0; } /// TODO gar
.share-quiz-footer .shareBar .shares { font-size: 2.57142em; line-height: 0; list-style: none; margin: 0; padding-left: 0; }
.centify { left: 0; right: 0; margin-left: auto; margin-right: auto; }
.middify { left: 0; right: 0; top: 0; bottom: 0; margin: auto; }

.modal {
    .dialog {
        border: 4px solid #807f7d;
        font-family: Verdana, Arial, sans-serif;
        font-size: 75%;
        line-height: 1.5em;
        padding: 0 20px;
        width: 450px; height: 440px;
    }
    .dialog .header {
        border-bottom: 3px solid #dfdfdf;
        margin: 0 0 18px;
        padding: 20px 0 12px;
        text-align: left;
    }
    .dialog .content {
        height: 250px;
    }
    .dialog .content h2 {
        color: #444;
        font-family: Verdana, Arial, sans-serif;
        font-size: 115%;
        font-weight: bold;
        margin: 0 0 7px;
    }
    .dialog .footer {
        height: 30px;
        margin: 0;
        padding: 20px 0;
        text-align: right;
    }
    .dialog .footer a {
        margin-left: 15px;
    }
    .dialog .utilitybtn {
        background-color: #5174b8;
        @include background-image(linear-gradient(top, #5174b8 0, #3d62a3 50%, #335898 52%, #244a87 100%));
        border: 0;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        display: inline;
        font-weight: 700;
        margin-right: 5px;
        overflow: visible;
        padding: 7px 15px;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        white-space: nowrap;
        z-index: 1;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
