/* PROJ / zjunk */

$Prime: #6a0737;

#Welcome {
    color: white;
    margin: auto;
    max-width: 100%;
    text-align: center;

    h1 {
        font-family: $serif;
        font-size: 3em;
        font-weight: 800;
        line-height: 0.875;
        margin: 0 auto 1em auto;
        text-align: center;
        text-transform: uppercase;
    }
    img {
        height: auto;
        margin: 10px auto 10px auto;
        text-align: center;
        width: 220px;
    }
    p {
        font-family: $sans;
        font-size: 20px;
        font-weight: 500;
    }
}

.btn {
    background-color: $Prime !important;
    border-color: $Prime !important;
    color: white !important;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 0.25em auto;
    padding: 0.5em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.btn-start {
    margin-top: 1em;
    width: 6em;
}

div.snowman-buttons-container {
    width: 100%;

    div.box {
        border: .5em solid transparent;
        box-sizing: border-box;
        float: left;
        width: 50%;
    }
}
