
<div class="stagecoach-footer">
  <div class="container">
    <div class="row">
      <section class="col-lg-12">
        <img src="./images/StageCoachSignature1.jpg" class="stagecoach-logo">
      </section>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <section class="col-lg-12">
      <nav>
        <ul class="navList">
          <li>
            <a href="/about/">About Wells Fargo</a>
          </li>
          <li>
            <a href="/about/careers/">Careers</a>
          </li>
          <li>
            <a href="/privacy-security/">Privacy, Cookies, Security &amp; Legal</a>
          </li>
          <li>
            <a href="/privacy-security/fraud/report/">Report Fraud</a>
          </li>
          <li>
            <a href="/sitemap">Sitemap</a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about/diversity/">Diversity &amp; Accessibility</a>
          </li>
          <li>
            <a href="http://blogs.wellsfargo.com">Blogs &amp; Social Media</a>
          </li>
          <li>
            <a href="/privacy-security/privacy/online#adchoices">Ad Choices</a>
          </li>
        </ul>
      </nav>
      <p>
        © 2015 Wells Fargo Bank, N.A. All rights reserved. ECG-1261325
      </p>
    </section>
  </div>
</footer>

