// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* SHUF/_misc.scss */

.message, .shuffle {
    color: white;
    font-family: $serif;
    text-align: center;
    width: 100%;
}
.message {
    margin-top: 25%;
    position: absolute;
}
.shuffle {
    margin-top: 50%;
}
a:hover {
    text-decoration: none;
}

.scrollOuter {
  bottom: 66px;
  overflow: scroll;
  position: absolute;
  top: 40px;
  width: 105%;
}
.scrollInner {
  background-image: url('../images/icons/wf_mobile_bg.png');
  border-top: 3em solid green;
  border-bottom: 3em solid green;
  height: 9999px;
  position: relative;
  width: 100%;

  button {
    display: none;
    bottom: 1em;
    font-size: 2em;
    left: 1em;
    margin: auto;
    position: absolute;
    right: 1em;
    width: 7em;
  }
}

@media (min-width: 768px) {
    .container {
        padding-left: 30px;
    }
}
@media (max-width: 479px) {
    .container {
        padding: 0px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
