// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* SHUF/_misc.scss */

a:hover {
    text-decoration: none;
}
.shuffle {
    text-align: center;

    * {
        @include transform(scale(1.00));
        @include transition(all 0.25s);
        @include transform-style( preserve-3d );
    }

    .tile {
        border: 1px solid red;
        display: inline-block;
        padding: 1em;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 30px;
    }
}
@media (max-width: 479px) {
    .container {
        padding: 0px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
