// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* SHUF/_tile.scss */

.tile {
    @include transform(scale(1.00));
    @include transition(all 0.5s cubic-bezier(0.3, -0.7, 0.3, 1.7)); // 0, 0.9, 0.7, 1.1
    @include transform-style( preserve-3d );
    background-color: green;
    border-radius: 1em;
    display: inline-block;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    width: 2em;

    &.freeze {
        position: absolute;
    }
    &.space {
        background-color: transparent;
        line-height: 1;
        padding: 0;
    }
    &.break {
        line-height: 0;
        width: 100%;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
