// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* JING/_base.scss */


header {
    position: relative;
    z-index: 9;
}
footer {
    background: #44464a;
    border-top: 0.5em solid #bfc0be;
    bottom: 0;
    color: #fff;
    font-size: 0.9em;
    line-height: 2;
    text-align: center;
    padding: 1em 2em 3em;
    position: fixed;
    width: 100%;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
