// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* JING/_misc.scss */

.ui-page-active {
    background-image: url('../images/bkgrs/original-bubbles-big.jpg');
    background-size: cover;
}

a:hover {
    text-decoration: none;
}
.shuffle {
    position: absolute;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
