// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* JING/_misc.scss */

.message, .shuffle {
    color: white;
    font-family: $serif;
    line-height: 5;
    text-align: center;
    width: 100%;
}
.message {
    margin-top: 5%;
    pointer-events: none;
    position: absolute;

    h1 {
        font-size: 2.4em;
        line-height: 1.2;
    }
    .debug & {
        pointer-events: auto;
    }
}
.shuffle {
    margin-top: 20%;
}
a:hover {
    text-decoration: none;
}

@media (orientation: portrait) {
    .message {
        margin-top: 10em;
    }
    .shuffle {
        margin-top: 20em;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
