// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* JING/_scroll.scss */

.scrollOuter {
    bottom: 0px;
    overflow: scroll;
    position: absolute;
    top: 0px;
    width: 105%;
}
.scrollInner {
    background-image: url('../images/icons/wf_mobile_bg.png');
    background-size: 6px;
    border-bottom: 3em solid green;
    border-top: 3em solid green;
    height: 9999px;
    position: relative;
    width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
