
.bg-white {
  background-color: #ffffff!important;
}

.bg-wf-gray {
  background: #44464a;
}

.bg-wf-purple {
  background:  #ae1e23;
}

.bg-wf-blue {
  background: #00698c;
}

.bg-wf-red {
  background: #ae1e23;
}

.bg-wf-orange {
  background: #ce4c00;
}

.bg-wf-green {
  background: #007337;
}
