// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ/_jumble.scss */

.jumble {
    padding: 3em;
    margin: auto;
    min-width: 320px;
    max-width: 640px;

    div, span {
        padding: 1em;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
