// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_base.scss */

html, body {
    line-height: 1;
    min-height: 100%;
    font-family: 'myriad-pro', sans-serif;
    font-weight: 400;
}

footer {
    font-family: 'myriad-pro', sans-serif;
    text-align: center;
    background: #44464a;
    color: #fff;
    font-size: 12px;
    padding: 15px;

}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
