// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_base.scss */

footer {
    background: #44464a;
    border-top: 0.5em solid #bfc0be;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    padding: 1em 2em 3em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
