// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_btn.scss */

button.btn-tile {
    font-size: 1.3em;
    font-weight: 600;
    padding: 0.3em 0.6em;

    &.purple {
        background-color: $a_magenta;
        color: white;
    }
    &.red {
        background-color: $a_warmred;
        color: white;
    }
    &.blue {
        background-color: $a_d_teal;
        color: white;
    }
    &.orange {
        background-color: $a_orange;
        color: white;
    }
    &.clear {
        background-color: transparent;
        color: white;
        padding-left: 0em !important; /* TODO gareth */
    }
    /* Internet Explorer 10+ */
    @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
        bottom: -2em !important;
        margin-left: 0px !important;
        position: absolute !important;
    }
    /* Microsoft Edge Browser -- button alignment issue */
    @media (-ms-accelerator: true) {
        bottom: auto !important;
        margin-left: 0px !important;
        position: absolute !important;
    }
}
.glyphicon-play-circle {
    @include middify;
    background-image: url('../images/buttons/video-play-icon.png');
    background-size: contain;
    color: transparent;
    cursor: pointer;
    font-size: 90px;
    height: 100px;
    width: 100px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
