// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_btn.scss */


button {
    border: none;
    color: white;
    font-size: 19.5px;
    padding: 3px 30px;
}

button.btn-tile {
    &.purple {
        background-color: #ae2573;
        color: white;
    }
    &.red {
        background-color: #ec1c29;
        color: white;
    }
    &.blue {
        background-color: #0095c8;
        color: white;
    }
    &.orange {
        background-color: #ed8800;
        color: white;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
