// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_caro.scss */

.carousel-indicators {
    bottom: 0px;

    li {
        border-radius: 0;
        height: 15px !important;
        margin: 0 0 0 9px !important;
        padding-right: 1em;
        width: 12px;
    }
}
.carousel-control {
    &.left,
    &.right {
        background-image: none;
        width: 0;
    }

    .glyphicon-chevron-left::before {
        content: "\e257";
    }
    .glyphicon-chevron-right::before {
        content: "\e258";
    }

    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
        background: gray;
        font-size: 20px;
        padding: 0.5em 0 1.5em 0;
        top: 45%;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
