// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_nav.scss */

nav ul li {
    display: inline;
    list-style: none;

    a {
        color: white;

        &:hover {
            color: white;
        }
    }
    footer & {
        border-left: 1px solid white;
        margin-right: 1em;
        padding-left: 1em;

        &:first-child {
            border: none;
        }
    }

}

header {
    display: none;
    z-index: 1;
}

.navbar {
    background: none !important;
    border: none;
    margin-bottom: 0 !important;

    button {
        margin: 1em;
    }
    nav {
        display: none;
    }
    .navbar-brand {
        height: 80px;
    }
}

@media (max-width: 767px) {

    .navbar nav {
        display: block;

        ul {
            padding: 0 1em;
        }
        a {
            display: block;
            background-color: rgba(0,0,0,0.3);
            border-radius: 0.5em;
            margin: 1px;
            padding: 1em;
        }
    }

    header {
        background-size: cover;
        box-shadow: 0 2px 4px black;
        color: white;
        display: block;
        position: fixed;
        width: 100%;

        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }

        }
        h3 {
            font-family: $serif;
            font-size: 2em;
            font-weight: 700;
        }

        .logo.mobile {
            background-image: url('../images/icons/wf_mobile_bg.png');
            background-size: 100% 100%;
            display: block;
            text-align: center;
        }
        .logo img {
            display: inline-block;
            height: 40px;
            vertical-align: middle
        }
    }

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
