// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_misc.scss */

.reverse {
    @include transform( scaleX(-1) );
}
.clear {
    clear: both;
}
.ui-page {
    background-image: linear-gradient(to bottom, #eee 22%, #fff 88%);
    //position: relative;
}
.pushin {
    .shareBar {
        $Bkgr: white;
        $Norm: $a_d_teal;
        $Over: $a_teal;
        .shares li {
            background-color: $Bkgr;
            a { color: $Norm;
                &:hover, &:focus { color: $Over; }
            }
        }
    }
}
.big- {
    font-family: $serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.1;
    //text-shadow: 0 0 3px gray;
}
.big-red {
    @extend .big-;
    color: $wf_red;
}
.big-red-ital {
    @extend .big-red;
    font-style: italic;
}
.big-white {
    @extend .big-;
    color: white;
}
.big-block {
    @extend .big-white;
    font-size: 48px;
    font-weight: 800;
}

.shrink {
    font-size: 0.8em;
}
.bloat {
    font-size: 1.4em;
}

@media (max-width: 479px) {
    section .container {
        padding: 0px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
