// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_misc.scss */

.celldiv {
    padding-bottom: 9em;
}

.view-container {
    background-image: linear-gradient(to bottom, #eee 22%, #fff 88%);
    position: relative;
}

.big-, .big-red-ital, .big-white {
    font-family: $serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1;
    //text-shadow: 0 0 3px gray;
}
.big-red-ital {
    color: $a_warmred;
    font-style: italic;
}
.big-white {
    color: white;
}

@media (max-width: 479px) {
    section .container {
        padding: 0px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
