// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_misc.scss */

.view-container {
    position: relative;
}


.img-social {
    left: 0;
    position: absolute;
    top: 40%;
    width: 50px;
}

.stagecoach-footer {
    margin-top: 50px;
    width: 100%;
}

img.stagecoach-logo {
    height: 80px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
