// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_nav.scss */

.navbar {
    border: none;
    margin-bottom: 0 !important;
}

.navbar-brand {
    height: 80px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
