// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_tile.scss */

.tile {
    margin-top: 30px;
    min-height: 220px;
    position: relative;

    h2 {
        line-height: 1;
        margin-bottom: 0;
    }
    p {
        font-size: 1.5em;
    }

    .glyphicon-play-circle {
        background-image: url('../images/buttons/video-play-icon.png');
        background-size: contain;
        color: transparent;
        cursor: pointer;
        font-size: 90px;
    }
    .message-sm,
    .message-lg {
        color: white;
        font-weight: normal;
    }
    .message-sm {
        font-family: $sans;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.4;
    }
    .message-lg {
        font-family: $serif;
        font-size: 3.4em;
        line-height: 1.2;
        padding: 1.4em;
    }
}
.sq-sm,
.sq-lg {
    section {
        color: white;
        font-family: $sans;
        padding: 0 1.5em;
        height: 100%;

        div {
            left: 1.5em;
            position: absolute;
            right: 1.5em;
            height: 100%;
        }
    }
    button {
        position: absolute;
        bottom: 1em;
    }
}
.sq-sm {
    height: 21em;
}
.sq-lg {
    height: 67em;
    text-align: center;

    @media (max-width: 991px) {
        height: 44em;
    }
}

/* tile animations on hover */
.sq-sm,
.sq-lg {
    position: relative;
    bottom: 0;

    &:hover, &:active {
        @include transform(scale(1.05));
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
