// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* LAND/_tile.scss */

.tile {
    @media (max-width: $break - 1) {
        font-size: 1.2em;
        button {
            font-size: 2em;
        }
    }
    line-height: 1;
    margin-top: 30px;
    min-height: 220px;
    position: relative;

    h2 {
        font-weight: 600;
        line-height: 1;
    }
    p {
        font-size: 1.4em;
    }

    div.creeper {
        bottom: 1em;
        overflow: hidden;
        position: absolute;
        right: 0;
        width: 30%;
        img {
            max-width: 150%;
        }
    }
}
.sq- {
    /* tile animations on hover */
    bottom: 0;
    position: relative;
    &:hover, &:active { @include transform(scale(1.03)); }

    section {
        color: white;
        font-family: $sans;
        height: 100%;

        button {
            position: absolute;
            bottom: 1em;
        }
    }
    div.flow {
        height: 100%;
        left: 1.5em;
        position: absolute;
        right: 1.5em;
    }
}
.sq-sm {
    @extend .sq-;

    height: 21em;
    div.flow {
        width: 68%;
    }
}
.sq-lg {
    @extend .sq-;

    float: right;
    height: 67.5em;
    text-align: center;

    @media (max-width: 991px) {
        height: 44em;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
