// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PONY/_junk.scss */

$Prime: #75040c;

html {
    //-ms-text-size-adjust: 100%;
    //-webkit-text-size-adjust: 100%;
}

h1 {
    font-family: $serif;
    font-weight: 600;
    font-size: 42px;
}

.question-header-image {
    margin-top: 30px;
    margin-bottom: 15px;
}

#page-wrap {
    color: white;
    .btn {
        background-color: $Prime !important;
        border-color: $Prime !important;
        color: white !important;
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin: 0.25em auto;
        padding: 0.5em;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            background: #8b181b !important;
        }
    }
    .btn-quiz {
        width: 300px;
    }
    .btn-start, .btn-restart {
        margin-top: 1em;
        width: 8em;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}
.panel-body {
    background-color: transparent !important;
    display: table;
    padding: 0;
    position: relative;
    width: 100%;
}
.panel {
    padding: 0;
    background-color: transparent !important;
}
.panel-title {
    color: inherit;
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: 0;
    margin-top: 0;
}
.panel-body.welcome-body {
    margin-top: 0px;
    padding-top: 80px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.sr-clip {
    display: none;
}

.form-group {
    margin-bottom: 0;
}

.radio {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.welcome {
    .quiz-question {
        max-width: 50em;
        margin: 0 auto;
        padding: 1em 1em 1em 1em;
        display: table-cell;
        text-align: center;
        vertical-align: top;
    }
}

.check-element {
    padding: 10px;
    border: none;
    background: white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
