// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PONY/_media.scss */

.pony {

    @media (min-width: 768px) {

        .quiz .welcome .responses-label {
            font-size: 16px;
            font-weight: normal;
            color: white;
            line-height: 1.125;
            text-transform: uppercase;
        }
    }

}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
