// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* QUIZ/_all.scss */

$Prime: #75040c !default;
$Second: #8b181b !default;
$Bkgrsrc: url('../images/bkgrs/bubbles-magenta.jpg') !default;

@import './_misc';
@import './_panel';
@import './_quiz';

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
