// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* QUIZ/_misc.scss */

.ui-page-active {
    @include background-image( $Bkgrsrc ); // linear-gradient(top, $trans 66%, red 88%),
    background-size: cover;
}

.ui-page {
    .celldiv {
        padding: 0;
    }

    @media (min-width: 768px) {
        .quiz .welcome .responses-label {
            font-size: 16px;
            font-weight: normal;
            color: white;
            line-height: 1.125;
            text-transform: uppercase;
        }
    }
}

#page-wrap {
    top: 2em;
}
.stage {
    display: none;
}
.share-quiz-footer {

    .shareBar {
        .shares {
            font-size: 2.57142em;
            line-height: 0;
            list-style: none;
            margin: 0;
            padding-left: 0;
            text-align: center;

            li {
                margin: 0 0.5em;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
