// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* QUIZ/_quiz.scss */


h1 {
    font-family: $serif;
    font-weight: 600;
    font-size: 42px;
}

#page-wrap {
    color: white;
    .btn {
        background-color: $Prime !important;
        border-color: $Prime !important;
        color: white !important;
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin: 0.25em auto;
        padding: 0.5em;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            background: $Second !important;
        }
    }
    .btn-quiz {
        width: 300px;
    }
    .btn-start, .btn-restart {
        margin-top: 1em;
        width: 8em;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


.sr-clip {
    display: none;
}

.form-group {
    margin-bottom: 0;
}

.radio {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.welcome {
    .quiz-question {
        max-width: 50em;
        margin: 0 auto;
        padding: 1em 1em 1em 1em;
        display: table-cell;
        text-align: center;
        vertical-align: top;
        @media (min-width: 768px) {
            padding: 2em 2em 4em 2em;
        }
    }
}

.check-element {
    padding: 10px;
    border: none;
    background: white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

h1.quiz-title {
    font-family: $serif;
    font-weight: 600;
    text-align: center !important;
    color: white;
    font-size: 42px;
    margin-top: 70px;
    margin-bottom: 25px;
}

h2.quiz-title {
    margin: 0 auto 50px auto;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.125;
    font-family: $serif;

    @media (max-width: 600px) {
        font-size: 30px;
    }
}

p.quiz-instructions {
    font-size: 20px;
    font-weight: 400;
    font-family: $sans;
    line-height: 1.350;
}

.quiz-skip .quiz-skip-icon {
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 26px;
    margin-left: 3px;
    vertical-align: middle;
    text-align: center;
}

.quiz {
    .progress-button.answered {
        background-color: white;
    }

    input[type='radio'] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
    }

    .progress-indicators {
        position: absolute;
        top: 50%;
        text-align: center;
        right: 5px;

        @media (min-width: 768px) {
            right: 15px;
        }
    }

    .progress-button:first-child {
        margin-top: 0;
    }

    .progress-button {
        display: block;
        margin: 10px auto;
        width: 5px;
        height: 5px;
        background-color: white;
        border-radius: 50px;
        opacity: .25;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;

        @media (min-width: 768px) {
            width: 10px;
            height: 10px;
        }

        &.active {
            width: 10px;
            height: 10px;
            margin: 5px auto;
            opacity: 1;
            pointer-events: none;

            @media (min-width: 768px) {
                width: 15px;
                height: 15px;
            }
        }

        &.answered {
            background-color: white;
        }
    }

    .responses {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    .responses-label {
        font-size: 16px;
        font-weight: normal;
        color: white;
        line-height: 1.125;

        @media (min-width: 768px) {
            font-size: 18px;
            padding-left: 50px;
        }

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }

    .question-header-image {
        width: 100px;
        height: auto;
        margin-top: 30px;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            width: 175px;
        }
    }
}


.quiz-question {
    max-width: 20em;
    margin: 0 auto;
    padding: 2.5em 1em 1em 1em;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.quiz-title,
.quiz-finish-title {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    line-height: 1.125;
    color: white;

    @media (min-width: 768px) {
        margin: 30px auto 50px auto;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.125;
        font-family: $serif;
    }

    @media (min-width: 992px) {
        font-size: 42px;
    }
}

.quiz-finish-title {
    margin-bottom: 30px;
}

.quiz-finish-text {
    color: white;
}

.pseudoHidden {
    border: none;
    width: 0%;
    height: 0%;
    font-size: 0%;
}

.quiz-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-appearance: none;
    border: 0;
    width: 74px;
    height: 37px;
    text-align: center;
    margin-left: -37px;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    cursor: pointer;

    span {
        line-height: 37px;
        font-size: 14px;
        top: 0;
    }

    @media (min-width: 768px) {
        width: 100px;
        height: 50px;
        margin-left: -50px;
    }
}

.winning-intro {
    font-family: $serif;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
}

.winning-name {
    text-transform: uppercase;
    font-family: $serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 25px;
}

.winning-bio {
    font-family: $sans;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.200;

    @media (max-width: 768px) {
        font-family: $sans;
        color: white;
        text-align: center;
        margin-top: 0;
        margin-bottom: 35px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.200;
        padding-right: 5%;
        padding-left: 5%;
    }

    @media (max-width: 768px) {
        font-family: $sans;
        color: white;
        text-align: center;
        margin-top: 0;
        margin-bottom: 35px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.200;
        padding-right: 15%;
        padding-left: 15%;
    }

    @media (max-width: 600px) {
        font-family: $sans;
        color: white;
        text-align: center;
        margin-top: 0;
        margin-bottom: 35px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.200;
        padding-right: 5%;
        padding-left: 5%;
    }
}

.header-image-0 {
    @media (min-width: 768px) {
        width: 350px;
        height: 350px;
    }

    @media (max-width: 768px) {
        width: 250px;
        height: 250px;
    }
}

img.header-image-winner {
    @media (max-width: 768px) {
        width: 300px;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-top: 0;
    }

    @media (min-width: 600px) {
        width: 250px;
        height: 250px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-top: 0;
    }

    @media (max-width: 1199px) {
        width: 350px;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-top: 0;
    }

    @media (max-width: 600px) {
        width: 200px;
        height: 200px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-top: 0;
    }
}

.share-this {
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 600;
}

.share-quiz-footer span {
    height: 35px;
    width: 35px;
}

#results-container {
    .quiz-results {
        height: 100%;
        margin-top: 0;
        padding-top: 0;
    }

    .share-quiz-footer {
        margin: 15px auto 15px auto;

        .fa-circle {
            color: white;
            cursor: pointer;
        }

        i {
            color: $Second;
            cursor: pointer;
        }

        span {
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
            height: 35px;
            width: 35px;
        }
    }

    .quiz-question {
        padding-top: 0;
        margin-top: 0;
    }
}

#question-0 {

    .quiz-title {
        @media (min-width: 768px) {
            margin: 0 auto 25px auto;
            font-size: 40px;
            font-weight: 600;
            line-height: 1.125;
            color: white;
            text-transform: uppercase;
            font-family: $serif;
        }

        @media (max-width: 768px) {
            margin: 0 auto 15px auto;
            font-size: 32px;
            font-weight: 600;
            line-height: 1.125;
            color: white;
            text-transform: uppercase;
            font-family: $serif;
        }
    }

    p.quiz-instructions {
        @media (min-width: 768px) {
            margin-bottom: 65px;
        }

        @media (max-width: 9999px) {
            font-weight: 300;
            line-height: 1.200;
            margin-bottom: 25px;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
